.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    max-width: 400px;
    padding: 40px;
   
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight:300;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .email, .password{
    display: grid;
    padding-top: 20px;
    padding-left: 270px;
    grid-template-columns: 1fr 5fr;
   
     }

  .button{
    padding-top:40px;
    padding-left: 580px;
    display: flex;
    gap:20px;
  }
  .form {
    max-width: 400px;
    padding: 40px;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px #c7c7c7;
  }
  
  label {
    display: flex;
    margin-bottom: 10px;
    color: #555;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 45%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    box-shadow: inset 4px 4px 6px #c7c7c7, inset -4px -4px 6px #ffffff;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 10%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 6px #c7c7c7, -4px -4px 6px #ffffff;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #0e8bf1;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #45a049;
  }
  